 @media screen and (max-width:800px){ 
    .top{
        background: rgb(163, 19, 19);
        color: white;
        display: flex;
        border-bottom: 10px solid purple;
        align-items: center;
        padding: 1vh 5vw;
        width: 90%;
    }
    .b{
        font-size: small;
      padding: 0px;
      margin: 0px;
    }
    


}

.top{
    background: black;
    color: white;
    display: flex;
    border-bottom: 3px solid blue;
    align-items: center;
    padding: 1vh 5vw;
    width: 90%;
    
}
.b{
    padding: 10px 15px;
    text-decoration: none;
    color: white;

}
.g{
    position: relative;
    right:4vw;

}

.a{
    position: relative;
    align-self: center;
    padding: 1.7vh 5vw;
    width:50%;

}
.form{
    width:100%;
}



.box{
       background: blue;
    color: red;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: calc(100vw+5px);
height: 120vh;

max-height: calc(120vh  - 5vh);
    
  
}


.container{
    padding: 10px;
    margin: 0px 20px;
    font-size: 30px;
    background: aquamarine;
    color: chocolate;
    border: 4px solid green;
    width: 45vw;
   height: 90vh;

   text-align: center;
}
.container p{
    font-size: 15px;
    color: purple;
}



.dc{
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    max-width: 95vw;
   
}
.grids{
    
    display: grid;
    grid-template-columns: auto  ;
    grid-gap: 50px 50px;
    height: 50vh;
    margin-right:4vw;
}
.item{
    border: 5px solid red;
    background: yellow;
    color: blueviolet;
    width: 20vw;
    height: 25vh;
    
    
  
}
.item p{
    
    position: relative;
    left: 1.5vw;
}



.grids2{
    margin-left: 4vw;
    display: grid;
    grid-template-columns: auto  ;
    grid-gap: 50px 50px;
    height: 50vh;
    position: relative;
    left: auto;
}
.foot{
    background: #000;
    color: aliceblue;
    text-align: center;
   
    padding-top: 10px;
    height: 5vh;
    width: 97.8vw;
  
}